SECRETS_DIR=${PWD}/secrets

export CLUSTER_GROUP=${USER}-governance

export TOOLS_CLUSTER=${USER}-tools
export PREPROD_CLUSTER=${USER}-preprod
export PRODUCTION_CLUSTER=${USER}-production

TOOLS_KUBECONFIG=${SECRETS_DIR}/${TOOLS_CLUSTER}.kubeconfig
watch_file ${TOOLS_KUBECONFIG}
if [[ -f ${TOOLS_KUBECONFIG} ]] ; then
  export KUBECONFIG=${TOOLS_KUBECONFIG}
fi

PREPROD_KUBECONFIG=${SECRETS_DIR}/${PREPROD_CLUSTER}.kubeconfig
watch_file ${PREPROD_KUBECONFIG}
if [[ -f ${PREPROD_KUBECONFIG} ]] ; then
  export KUBECONFIG=${PREPROD_KUBECONFIG}:${KUBECONFIG}
fi

PRODUCTION_KUBECONFIG=${SECRETS_DIR}/${PRODUCTION_CLUSTER}.kubeconfig
watch_file ${PRODUCTION_KUBECONFIG}
if [[ -f ${PRODUCTION_KUBECONFIG} ]] ; then
  export KUBECONFIG=${PRODUCTION_KUBECONFIG}:${KUBECONFIG}
fi

export TOOLS_WORKSPACE=${USER}-tools
export DEVELOPMENT_WORKSPACE=${USER}-development
export STAGING_WORKSPACE=${USER}-staging
export PRODUCTION_WORKSPACE=${USER}-production
